@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&family=Dongle&family=Edu+SA+Beginner:wght@500&family=Edu+VIC+WA+NT+Beginner:wght@500&family=Fjalla+One&family=Lato:ital@1&family=Montserrat:wght@300&family=Mouse+Memoirs&family=Oswald:wght@200&family=Poppins:ital,wght@0,400;0,600;0,700;1,700&family=Roboto:wght@300&family=The+Nautigal:wght@700&family=Updock&display=swap');
*{
    margin:0px ;
    padding:0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;}


    /* Selectores de etiquetas*/
        
a{text-decoration: none;}

    
a:hover {
    text-shadow: 0 0 5px purple;
    }

p{
    font-size:20px;
    color:rgb(0, 0, 0);
    font-weight: "bold";
    font-family:'Roboto', sans-serif;

}
/* Seccion de barra de navegacion*/ 


 #Logo img{
    float: left;
    width: 58px;
    margin-left: 5px; 
    margin-top: 10px;
    position: relative;
}

.contenedor__menu {
    width: 100%;
    display: inline-block;
    text-align: center;
    list-style: none;
    word-spacing: 20px;
    position: sticky;
    top: 0;
    z-index: 100vh;
}

    


.contenedor__menu__nav{
    padding: 30px;
    background-color: aqua;
    border-radius: 10px;
    text-decoration: none;
    }


  /*Main y sus secciones */

.main{
    padding-bottom: 100px;
    display: inline-block;}

.main__img{
    
    display: block;      
}

.main__img img {
    width: 100%;
    box-shadow: 0 0 30px grey;
}

.nuestrosServicios{
    text-align: center;
    width: 1000px;  
    height: 300px;}

    /*seccion quienes somos*/

    .QuienesSomos{
    text-align: center;
    margin-top: 50px;
    font-weight: "bold";
    font-size:25px;
    margin-left: 20px;
    margin-right: 20px;
    word-spacing: 15px;
    margin-bottom: 79px


    }

    #divisor{
    min-width: 100%;
    margin-top: 5vh;
    padding-left: 20%;
    padding-right: 20%;

    }
    .divisorLinea {
    border: none;
    height: 1px;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.12);
    
    } 

    

    /* seccion cards */
    .parrafoCards{
    font-size:25px;
    color:rgb(253, 253, 253);
    font-weight: "bold";
    font-family:'Roboto', sans-serif;

    }

    .box{
    text-align: center;
    border: solid 1px rgb(255, 253, 253);
    padding: 50px;
    width: 60%;
    height: 100%;
    margin: 45px auto;
    }

    .box .left {
        float:left;
        width: 49%;
        background-color:rgb(140, 184, 235);

    }
    .box .left img {
        width: 50%;
        height: 50%;
    
    }

    .box .right{
        float:left;
        width: 49%;
        background-color:rgb(140, 184, 235);
    }

    .box .right img {
        width: 50%;
        height: 50%;   
    }
    .box .divisor {
        width: 2%;
        float:left;
    }

    /* reglas y estilos del footer */

#pieDePagina{
    color: #fff;
    text-align: left;
    padding: 28px;
    height: 437px;
    color: #fff;
}
.classPie{
    background-color: #7a8fee;
    margin-bottom: 10px;
    }

    
/*fin estilos footer*/

.primerParrafo{
    font-size:25px;
    color:rgb(253, 253, 253);
    font-weight: "bold";
    font-family:'Roboto', sans-serif;
}

#mapa {
width: 30%;
height: 30%;
float: right;
}

/* PAGINA GALERIA CARDS DE SERVICIOS*/
.tarjeta{
    display: inline-block;
    margin-top: 40px;
    margin-bottom: 40px;
    width:420px;
    border: 1px solid lightgray;
    box-shadow: 2px 2px 8px 4px #d3d3d3d1;
    border-radius:15px;
    font-family: sans-serif;
    align-content: center;
    }

    img {
        width: 30%;
        height: 30%;
        align-content: center;
        
    }
    

    .titulo{
    font-size: 24px;
    padding: 10px 10px 0 10px;;
    }

    .cuerpo{
    padding: 10px;
    }

    .pie{
    background: #6699ff;
    border-radius:0 0 15px 15px;
    padding: 10px;
    text-align:center;
    }
    .pie a{
    text-decoration: none;
    color: white;
    }
    .pie a:after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    }

    /* Formlarios de contacto */
    .contenedor{
        margin-top: 100px;
        margin-bottom: 100px;
    }

    